:global {
  body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #223;
    line-height: 1.666;
    font-size: 14px;
  }

  #root {
    display: flex;
    justify-content: center;
  }

  body.darkTheme {
    background-color: #7b7b7b;
    color: white;
  }
}
